{% extends "base.html" %}
{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.question.label }}
    </p>
    <p>
        {{ form.answer(size=32) }}<br>
    <div id="specialChars">
        <span onclick="insertChar('ç')">ç</span>
        <span onclick="insertChar('é')">é</span>
        <span onclick="insertChar('ê')">ê</span>
        <span onclick="insertChar('ó')">ó</span>
        <span onclick="insertChar('ô')">ô</span>
        <span onclick="insertChar('á')">á</span>
        <span onclick="insertChar('â')">â</span>
        <span onclick="insertChar('ã')">ã</span>
        <span onclick="insertChar('ú')">ú</span>
    </div>
    {% for error in form.answer.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    {% if quiz_on_context %}
    <p>
        {{ form.context_question.label }}
    </p>
    <p>
        {{ form.context_answer(size=32) }}<br>
        {% for error in form.context_answer.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% endif %}
    </p>
    {% for error in form.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <p>{{ form.submit() }}</p>


</form>
{% endblock %}